@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Ivan Nochovkin</h1>
	<h1 class="display-4">Faculty of Informational Technologies</h1>
	<h1 class="display-4">Student of IPZ-43 group</h1>
</div>
